html{color:#000;
		background:#fff;
		padding:20px 0;
		font: 12px/18px "¸¼Àº °íµñ", "Malgun Gothic", "±¼¸²", "Gulim", Verdan, Arial, Tahoma;
}

#wrap {width:420px;
	   height: 400px;
			margin:0 auto;
			padding: 5px;
			border: double;
			background-color:#ccc
}

#navbar {width: 400px;
		margin:10px auto;
		 background-color: #fff;
}

#header_left{float:left;}

#header_right{float:right;}

#header_footer{clear:both;}