html{color:#000;
		background:#fff;
		padding:20px 0;
		font: 12px/18px "¸¼Àº °íµñ", "Malgun Gothic", "±¼¸²", "Gulim", Verdan, Arial, Tahoma;
}

#wrap {width:960px;
			margin:0 auto;
			background-color:#888
}

#navbar {width: 500px;
		margin:10px auto;
		 background-color: #fff;
}

#header {
	width:500px;
	text-align: center;
			margin:10px auto;
			border: ridge;
			background-color:#fff

}



th {text-align: center;}
td {text-align: center;}
